h2{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background: rgb(202,161,253);
    /* background: linear-gradient(229deg, rgba(202,161,253,1) 32%, rgba(158,121,252,1) 70%); */
    height: 689px;
    width: 100%;
}

.main-top{
    width: 700px;
}


.header{
    border: solid 3px ;
    border-radius: 6px 6px 0px 0px;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name{
    position: relative;
}

.First-name{
    position: absolute;
    width: 34%;
    left: 160px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
}

.Last-name{
    position: absolute;
    width: 34%;
    left: 404px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
}

.name label{
    margin-top: 50px;
    margin-left: 50px;
}

.company{
    position: relative;
}

.company label{
    margin-top: 50px;
    margin-left: 48px;
}

.company input{
    position: absolute;
    width: 70%;
    left: 160px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
}

.email{
    position: relative;
}

.email label{
    margin-top: 50px;
    margin-left: 48px;
}

.email input{
    position: absolute;
    width: 70%;
    left: 160px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
}

.phone{
    position: relative;
}

.phone label{
    margin-top: 50px;
    margin-left: 48px;
}

.phone .area{
    position: absolute;
    width: 20%;
    left: 160px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
    background-color: rgba(128, 128, 128, 0.055);
    border-color: gainsboro;
    border-radius: 6px;
    color: gray;
}

.phone .mob{
    position: absolute;
    width: 48%;
    left: 310px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
}

.subject{
    position: relative;
}


.subject label{
    margin-top: 50px;
    margin-left: 48px;
}

.subject select{
    position: absolute;
    width: 70%;
    left: 160px;
    top: 38px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.055);
    border-color: gainsboro;
    border-radius: 6px;
    color: gray;

}

.radio{
    position: relative;
}

h6{
    margin-left: 48px;
    margin-top: 50px;
}

.radio .label-1{
    position: absolute;
    width: 70%;
    left: 68px;
    top: 32px;
    height: 50px;
}

.radio .radio-1{
    position: absolute;
    left: 49px;
    top: 38px;
}

.radio .label-2{
    position: absolute;
    width: 70%;
    left: 160px;
    top: 32px;
    height: 50px;
}

.radio .radio-2{
    position: absolute;
    left: 140px;
    top: 38px;
}

button{
    margin-top: 50px;
    margin-left: 60px;
    width: 100px;
    height: 35px;
}

.main{
    height: 575px;
    border-radius: 0px 0px 6px 6px;
    color: gray;
}